 .heading{
    display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 30px;
     flex-direction: column;
 }
 .topbar1{
    position: fixed;
    width: 100%;
    z-index: 3;
 }
 *{
    scroll-behavior: smooth;
 }